<!-- markets -->
<section  id="part2" class="bg-light-gray">
  <div class="container" style="text-align:center;">
    <div class="chapter">
      <div class="chapterTitle">Part 2.</div><br/>
      <div class="chapterSubtitle">개발자가 되려면</div>
      <p class="chapters">
        <Strong>Ch 4.</Strong> 무엇을 공부해야 할까요?
        <ul>
          <li>개발자는 어떻게 컴퓨터와 대화를 나눌까요?</li>
          <li>빅데이터로 살펴보는 프로그래밍 언어 선택 가이드</li>
          <li>코딩계의 밀키트, 프레임워크!</li>
        </ul><br/>

        <Strong>Ch 5.</Strong> 어떻게 코딩을 연습해야 할까요?
        <ul>
          <li>나는 코딩한다, 고로 존재한다</li>
          <li>공부의 검증 문제은행 박살내기!</li>
          <li>방대한 지식의 바다에서 헤엄치기 : 구글링</li>
          <li>전 세계 개발자들의 아고라 : 커뮤니티 / 콘퍼런스</li>
          <li>개발자의 직업병 : 타인의 결과물 참고하기</li>
        </ul><br/>

        <Strong>Ch 6.</Strong> 시행착오에서 배운 것들
        <ul>
          <li>지금 알았던 걸 그때도 알았더라면</li>
          <li>이건 왜 안 해봤을까?</li>
          <li>그런 짓은 하지 말았어야 했는데</li>
          <li>이건 여러분도 꼭 해보길 바라요</li>
          <li>개발자 적성테스트</li>
        </ul><br/>
      </p>
    </div>
  </div>
</section>