<!-- markets -->
<section  id="part1" >
  <div class="container" style="text-align:center;">
    <div class="chapter">
      <div class="chapterTitle">Part 1</div><br/>
      <div class="chapterSubtitle">개발자의 삶</div>
      <p class="chapters">
        <Strong>Ch 1.</Strong> 저도 개발자가 될 수 있을까요?
        <ul>
          <li>컴퓨터공학 비전공자도 개발자가 될 수 있나요?</li>
          <li>개발자가 되려면 컴퓨터공학을 꼭 공부해야 하나요?</li>
          <li>독학만으로 개발자가 될 수 있나요? </li>
          <li>개발자라는 직업에 비전이 있나요?</li>
        </ul>
        <br/>

        <Strong>Ch 2.</Strong> 개발자의 삶 엿보기
        <ul>
          <li>개발자는 도대체 무슨 일을 하는 사람인가요?</li>
          <li>개발자의 종류에는 어떤 것들이 있나요?</li>
          <li>개발자의 특성</li>
          <li>여러분이 개발자가 되어야 하는 이유</li>
          <li>쉬어가기(개발자 괴담)</li>
        </ul>
        <br/>

        <Strong>Ch 3.</Strong> 비전공자 개발자로 살아남기
        <ul>
          <li>AR 개발자가 된 효석의 이야기</li>
          <li>CTO급 개발자가 된 병현의 이야기</li>
        </ul>
        <br/>
      </p>
    </div>
  </div>
</section>
