<!-- markets -->
<section  id="part5" >
  <div class="container" style="text-align:center;">
    <div class="chapter">
      <div class="chapterTitle">Part 5.</div><br/>
      <div class="chapterSubtitle">좌충우돌! 개발자의 성장이란?</div>
      <p class="chapters">
        <Strong>Ch. 14.</Strong> 취직 이후에는 어떻게 커리어를 관리할까요?
          <ul>
            <li>어떻게 커리어를 관리할까요?</li>
            <li>프로젝트가 곧 나의 이력서</li>
            <li>떠오르는 기술을 선택하는 안목</li>
            <li>동료들이 의지할 수 있는 든든한 거목으로</li>
          </ul><br/>
        <Strong>Ch. 15.</Strong> 비전공자 딱지 위에 경력을 덧칠하며
          <ul>
            <li>주니어 개발자가 꿈꾸는 나의 커리어</li>
            <li>CTO 개발자가 바라는 성장하는 나의 모습</li>
          </ul><br/>
      </p>
    </div>
  </div>
</section>
