<!-- markets -->
<section  id="part3">
  <div class="container" style="text-align:center;">
    <div class="chapter">
      <div class="chapterTitle">Part 3.</div><br/>
      <div class="chapterSubtitle">개발자의 여러 직군</div>
      <p class="chapters">
        <Strong>Ch 7.</Strong> 임기응변과 유연한 사고가 필요한 분야
        <ul>
          <li>프론트엔드 개발자</li>
          <li>iOS 개발자</li>
          <li>안드로이드 개발자</li>
          <li>게임 개발자</li>
        </ul><br/>

        <Strong>Ch 8.</Strong> 꾸준한 노력과 꼼꼼함이 필요한 분야
        <ul>
          <li>클라우드 개발자</li>
          <li>상거래 플랫폼 개발자</li>
          <li>임베디드 개발자</li>
          <li>오픈 소스 개발자</li>
        </ul><br/>

        <Strong>Ch 9.</Strong> 수학적 지식이 필요한 분야
        <ul>
          <li>서버 개발자</li>
          <li>백엔드 개발자</li>
          <li>데이터 과학자</li>
          <li>보안 개발자</li>
        </ul>
        <br/>

        <Strong>Ch 10.</Strong> 마르지 않는 창의력이 필요한 분야
        <ul>
          <li>인공지능 개발자</li>
          <li>UI/UX 개발자</li>
          <li>콘텐츠 개발자</li>
          <li>메타버스 콘텐츠 개발자</li>
        </ul><br/>
      </p>
    </div>
  </div>
</section>
